<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        header li {
            list-style: none;
        }

        header ol{
            display: grid;
            grid-template-columns: repeat(6,1fr);
        }

        header{
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

    <header>
        <ol>
            <li><a href="./">Home</a></li>
            <li><a href="./products">Product</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./contact">Contact </a></li>
            <li><a href="/ronnie">Yeah Buddy</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
    
        </ol>
    </header>

    <h1>This is information about a random topic....</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, possimus magni et consectetur eius fuga porro dolorum! Iste nihil dolore itaque id blanditiis quae voluptates ad, quas quidem! Nostrum, veritatis.</p>
    
</body>
</html>