<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>

    <h1>This is information about a random topic....</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, possimus magni et consectetur eius fuga porro dolorum! Iste nihil dolore itaque id blanditiis quae voluptates ad, quas quidem! Nostrum, veritatis.</p>
    
</body>
</html>